.page-result {
    .ratingStyle{
        width: 80%;
        height: 60%;
        align-self: auto;
        background-color: blanchedalmond;
        margin: auto;

    }
    .fullStar{
        font-size: 150%;
    }
        
    .blankStar{
        // background-color: aliceblue;
        color: #dce6f7;
        font-size: 150%;
    }
}
