.page-dealerassessment {
    .ion-card-header{
        background: #D85604;
        color: #ffff;
    }
    .bodyStyle{
        background: #0c335a;
    }
    .imgStyle {
        border-radius: 50%;
        align-self: baseline;
    }
    .conStyle{
        align-self: baseline;
    }
}
